PORT=3030
DATABASE_URL=postgresql://postgres:postgres@db:5432/finaldb
DIRECT_URL=postgresql://postgres:postgres@db:5432/finaldb
SECRET_JWT_KEY=change_me_super_secret
LOG_LEVEL=info
SERVICE_NAME=final-dev3/backend
